<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.microservices.dao.AdsrMgntDAO">
	<select id="selectAdsrAll" resultType="com.demo.microservices.model.AdsrMgnt">
		SELECT 
			CM.CUST_NO,
			CM.MSG,
			CM.MSG_TIME,
			CM.SEND_ID,
			A.ADSR_NM,
			A.DEPARTMENT_NM,
			A.DTL_INFO
		FROM
			CUST_ADSR_MSG_LIST CM
			LEFT JOIN
			ADSR_INFO A
				ON A.ADSR_NO = CM.SEND_ID
		WHERE 1=1
		  AND CM.CUST_NO = #{custNo}
		  AND CM.MSG_TIME > IFNULL(#{msgTime},'1999-12-31 23:59:59')
		ORDER BY MSG_TIME
	</select>
	<insert id="insertAdsr" parameterType="com.demo.microservices.model.AdsrMgnt">
		INSERT INTO CUST_ADSR_MSG_LIST 
			(CUST_NO,
			MSG_TIME, 
			MSG, 
			SEND_ID)
		VALUES 
			(#{custNo}, 
			CURRENT_TIMESTAMP(), 
			#{msg},
			#{sendId})
	</insert>
	<select id="adsrSearch" resultType="com.demo.microservices.model.AdsrSearch">
		SELECT 
			A.ADSR_NO,
			A.ADSR_NM,
			A.DEPARTMENT_NM,
			A.DTL_INFO
		FROM 
			CUST_ADSR_REL_HST CH
			JOIN
			ADSR_INFO A
				ON A.ADSR_NO = CH.ADSR_NO
		WHERE CH.CUST_NO = #{custNo}
		  AND CH.EFCT_FNS_DT > '9999-12-31';
	</select>
</mapper>