<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.microservices.dao.RentCntrMgntDAO">
	<select id="selectRentCntrAll" resultType="com.demo.microservices.model.RentCntr">
		SELECT
		M.CNTR_DIV,
		C.MODEL_NO,
		C.MODEL_NM,
		C.MODEL_ADDR,
		C.PRICE,
		M.PROGRESS,
		M.RENT_ST_DT,
		M.RENT_END_DT,
		M.RENT_CNTR_NO
		FROM
			(
				SELECT 
					IF(RENT_CNTR_STS_CD = 'A', '1_진행중계약', '3_종료된계약') AS 'CNTR_DIV',
					A.MODEL_NO,
					A.PROGRESS,
					A.RENT_ST_DT,
					A.RENT_END_DT,
					A.RENT_CNTR_NO
				FROM 
					RENT_CNTR_INFO A
				WHERE 1=1
				  AND A.CUST_NO = #{custNo}
				UNION ALL 
				SELECT 
					'2_찜목록' AS 'CNTR_DIV',
					A.REG_MODEL_NO AS MODEL_NO,
					NULL AS PROCESS,
					NULL AS RENT_ST_DT,
					NULL AS RENT_END_DT,
					NULL AS RENT_CNTR_NO
				FROM 
					CUST_REG_MODEL_LST A
				WHERE 1=1
				  AND A.CUST_NO = #{custNo}
			) M
			JOIN
			MODEL_INFO C
				ON M.MODEL_NO = C.MODEL_NO
		ORDER BY CNTR_DIV
	</select>
	<insert id="insertRentCntr" parameterType="com.demo.microservices.model.RentCntr">
		INSERT INTO RENT_CNTR_INFO 
			(CUST_NO, 
			MODEL_NO, 
			RENT_CNTR_STS_CD, 
			PROGRESS, 
			CREATE_DT, 
			RENT_ST_DT, 
			RENT_END_DT)
		SELECT 
			CUST_NO, 
			REG_MODEL_NO, 
			'A', 
			1, 
			CURRENT_DATE, 
			NULL, 
			NULL 
		FROM CUST_REG_MODEL_LST 
		WHERE CUST_NO = #{custNo} 
		  AND REG_MODEL_NO = #{modelNo};
	</insert>
	<delete id="deleteCustRegModel" parameterType="com.demo.microservices.model.RentCntr">
		DELETE FROM CUST_REG_MODEL_LST 
		WHERE CUST_NO = #{custNo} 
		  AND REG_MODEL_NO = #{modelNo};
	</delete>
	<update id="updateRentCntrStep" parameterType="com.demo.microservices.model.RentCntr">
		UPDATE RENT_CNTR_INFO
		   SET <if test="rentStDt != null">
		       RENT_ST_DT = #{rentStDt},
		       RENT_END_DT = DATE_ADD(#{rentStDt}, INTERVAL 2 YEAR),
		       </if>
		       <if test="fixDt != null">
		       FIX_DT = #{fixDt},
		       </if>
		       <if test="entDt != null">
		       ENT_DT = #{entDt},
		       </if>
		       RENT_CNTR_STS_CD = #{cd},
		       PROGRESS = #{progress}
		 WHERE RENT_CNTR_NO = #{rentCntrNo}
	</update>
	<select id="selectRentCntrRslt" resultType="com.demo.microservices.model.RentCntrRslt">
		SELECT 
			M.MODEL_ADDR,
			M.OWNER_NM,
			M.OWNER_TEL_NO,
			M.PRICE,
			R.FIX_DT,
			R.ENT_DT,
			R.RENT_ST_DT,
			R.RENT_END_DT 
		FROM
			RENT_CNTR_INFO R
			JOIN
			MODEL_INFO M
				ON R.MODEL_NO = M.MODEL_NO
		WHERE 1=1
		AND RENT_CNTR_NO = #{rentCntrNo}
	</select>
	<select id="selectRentDepoSendInfo" resultType="com.demo.microservices.model.RentDepoSendInfo">
		SELECT 
			C.CUST_NM,
			C.ACCT_BANK_NM,
			C.ACCT_NO,
			CURRENT_DATE AS CNTR_DT,
			(SELECT PRICE FROM MODEL_INFO WHERE MODEL_NO = (SELECT MAX(MODEL_NO) FROM RENT_CNTR_INFO WHERE CUST_NO = #{custNo} AND RENT_CNTR_STS_CD = 'A' )) AS PRICE
		FROM
			CUST_INFO C
		WHERE 1=1
		  AND C.CUST_NO = #{custNo}
	</select>
</mapper>